<div class="row">
  <h3 class="land-parcel"><img class="land-parcel-status" src="/noun_project_10280.svg"/> 1//DP935306</h3> 
  <div class="alert-box alert">This Title Reference occurs 4 times in the Council file. The land parcel is not available in the EHC.</div>
</div>
<div class="row">
  <div class="six columns">
    <div class="row">
      <div class="twelve columns">
        <h4><span class="indicator record-info"></span>Record Information</h4>
        <table>
          <thead>
            <th>Attribute</th>
            <th>Value</th>
          </thead>
          <tbody>
            <tr>
              <td>Title Reference</td>
              <td>1//DP935306</td>
            </tr>
            <tr>
              <td>Last Updated by LPI</td>
              <td>25/2/2013</td>
            </tr>
            <tr>
              <td>CADID</td>
              <td>100000005</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="six columns">
    <div class="row">
      <div class="twelve columns">
        <h4><span class="indicator production-info"></span>Production Information</h4>
        <table>
          <thead>
            <th>Attribute</th>
            <th>Value</th>
          </thead>
          <tbody>
            <tr>
              <td>Status Updated</td>
              <td>12/2/2013</td>
            </tr>
            <tr>
              <td>Valid In Production</td>
              <td>No</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


