<div class="row">
  <h3 class="land-parcel"><img class="land-parcel-status" src="/noun_project_10280.svg"/> //SP85521</h3> 
  <div class="alert-box alert">Lots in this strata plan have inconsistent land-based information. The lots are not available in the EHC.</div>
</div>
<div class="row">
  <div class="columns six">
    <table>
      <thead>
        <tr>
          <th>Inconsistent Attribute</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <ul>
              <li>if_mine_subsidence</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="six columns">
    <h4>Lots in Strata Plan</h4>
    <ul>
      <li><%= link_to '1//SP85521', inconsistent_sp_land_parcel_path(1) %></li>
      <li><%= link_to '2//SP85521', inconsistent_sp_land_parcel_path(1) %></li>
      <li><%= link_to '3//SP85521', inconsistent_sp_land_parcel_path(1) %></li>
    </ul>
  </div>
</div>