<div class="row">
  <div class="columns twelve">
    <h4>Invalid Land Parcel</h4>
    <p>This land parcel has an error and is not available for Exempt or Complying Development through the EHC.</p>
  </div>
</div>
<div class="row">
  <div class="columns six">
    address summary
  </div>
  <div class="columns six">
    <table>
      <thead>
        <tr>
          <th>Error</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <ul>
              <li>Ad_st_no_to must not be "0"</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



