</div><div class="row">
  <h3 class="land-parcel"><img class="land-parcel-status" src="/noun_project_10280.svg"/> A//DP155195</h3> 
  <div class="alert-box alert">This land parcel has an error and is not available in the EHC</div>
</div>
<div class="row">
  <div class="six columns">
    <div class="row">
      <div class="twelve columns">
        <h4><span class="indicator invalid-records"></span>Error</h4>
          <table>
            <tbody>
              <tr>
                <td>Ad_st_no_from must not be "0"</td>
              </tr>
            </tbody>
          </table>        
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="six columns">
    <div class="row">
      <div class="twelve columns">
        <h4><span class="indicator address"></span>Address</h4>
          <table>
            <tbody>
              <tr>
                <td>Title Reference</td>
                <td>A//DP155195</td>
              </tr>
              <tr>
                <td>Street Address</td>
                <td>
                  <address>
                    0 Broughton Street<br/>
                    CAMDEN<br/>
                    NSW 2570<br/>
                  </address>
                </td>
              </tr>
              <tr>
                <td>Council</td>
                <td>Camden Council</td>
              </tr>
            </tbody>
          </table>        
      </div>
    </div>
  </div>

  <div class="columns six">
    <div class="row">
      <div class="twelve columns">
        <h4><span class="indicator land-attributes"></span>Land-Based Information</h4>
        <table>
          <thead>
            <th>Attribute</th>
            <th>Value</th>
          </thead>
          <tbody>
            <tr>
              <td>Zone</td>
              <td>B4</td>
            </tr>
            <tr>
              <td>Area</td>
              <td>651.3 m<sup>2</sup></td>
            </tr>
            <tr>
              <td>Heritage Status</td>
              <td>Heritage Item</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <div class="row">
      <div class="twelve columns">
        <h4><span class="indicator record-info"></span>Record Information</h4>
        <table>
          <thead>
            <th>Attribute</th>
            <th>Value</th>
          </thead>
          <tbody>
            <tr>
              <td>Council File: Date of Update</td>
              <td>20/8/2012</td>
            </tr>
            <tr>
              <td>LPI: Last Updated</td>
              <td>26/11/2004</td>
            </tr>
            <tr>
              <td>Council ID</td>
              <td>100009</td>
            </tr>
            <tr>
              <td>CADID</td>
              <td>100000009</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="six columns">
    <div class="row">
      <div class="twelve columns">
        <h4><span class="indicator production-info"></span>Production Information</h4>
        <table>
          <thead>
            <th>Attribute</th>
            <th>Value</th>
          </thead>
          <tbody>
            <tr>
              <td>Status Updated</td>
              <td>12/2/2013</td>
            </tr>
            <tr>
              <td>Valid In Production</td>
              <td>No</td>
            </tr>          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


