<div class="row">
  <h3 class="land-parcel"><img class="land-parcel-status" src="/noun_project_10280.svg"/> 31//SP83421</h3> 
  <div class="alert-box alert">This strata plan does not exist in LPI. This lot is not available in the EHC.</div>
</div>
<div class="row">
  <div class="six columns">
    <div class="row">
      <div class="twelve columns">
        <h4><span class="indicator address"></span>Address</h4>
          <table>
            <tbody>
              <tr>
                <td>Title Reference</td>
                <td>31//SP83421</td>
              </tr>
              <tr>
                <td>Street Address</td>
                <td>
                  <address>
                    2/7 Nepean Street<br/>
                    CAMDEN<br/>
                    NSW 2570<br/>
                  </address>
                </td>
              </tr>
              <tr>
                <td>Council</td>
                <td>Camden Council</td>
              </tr>
            </tbody>
          </table>        
      </div>
    </div>
  </div>

  <div class="columns six">
    <div class="row">
      <div class="twelve columns">
        <h4><span class="indicator land-attributes"></span>Land-Based Information</h4>
        <table>
          <thead>
            <th>Attribute</th>
            <th>Value</th>
          </thead>
          <tbody>
            <tr>
              <td>Zone</td>
              <td>R2</td>
            </tr>
            <tr>
              <td>Area</td>
              <td>645 m<sup>2</sup></td>
            </tr>          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <div class="row">
      <div class="twelve columns">
        <h4><span class="indicator record-info"></span>Record Information</h4>
        <table>
          <thead>
            <th>Attribute</th>
            <th>Value</th>
          </thead>
          <tbody>
            <tr>
              <td>Council File: Date of Update</td>
              <td>20/8/2012</td>
            </tr>
            <tr>
              <td>Council ID</td>
              <td>100100</td>
            </tr>
            <tr>
              <td>Lots in Strata Plan</td>
              <td><%= link_to '1', only_in_council_sp_cp_land_parcel_path(1) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="six columns">
    <div class="row">
      <div class="twelve columns">
        <h4><span class="indicator production-info"></span>Production Information</h4>
        <table>
          <thead>
            <th>Attribute</th>
            <th>Value</th>
          </thead>
          <tbody>
            <tr>
              <td>Status Updated</td>
              <td>11/2/2013</td>
            </tr>
            <tr>
              <td>Valid In Production</td>
              <td>No</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>