<div class="row">
  <h3 class="land-parcel"><img class="land-parcel-status" src="/noun_project_10280.svg"/> //SP83421</h3> 
  <div class="alert-box alert">This strata plan does not exist in LPI. The lots are not available in the EHC.</div>
</div>
<div class="row">
  <div class="six columns">
    <h4>Lots in Strata Plan</h4>
    <ul>
      <li><%= link_to '31//SP83421', inconsistent_sp_land_parcel_path(1) %></li>
    </ul>
  </div>
</div>