<div class="row">
  <h3 class="land-parcel"><img class="land-parcel-status" src="/noun_project_10284.svg"/> 6//DP270331</h3> 
  <p>This land parcel has passed all quality checks and is available for investigations in the EHC</p>
</div>
<div class="row">
  <div class="six columns">
    <div class="row">
      <div class="twelve columns">
        <h4><span class="indicator address"></span>Address</h4>
          <table>
            <tbody>
              <tr>
                <td>Title Reference</td>
                <td>6//DP270331</td>
              </tr>
              <tr>
                <td>Street Address</td>
                <td>
                  <address>
                    6/14-45 Park Street North<br/>
                    CAMDEN<br/>
                    NSW 2570<br/>
                  </address>
                </td>
              </tr>
              <tr>
                <td>Council</td>
                <td>Camden Council</td>
              </tr>
            </tbody>
          </table>        
      </div>
    </div>
  </div>

  <div class="columns six">
    <div class="row">
      <div class="twelve columns">
        <h4><span class="indicator land-attributes"></span>Land-Based Information</h4>
        <table>
          <thead>
            <th>Attribute</th>
            <th>Value</th>
          </thead>
          <tbody>
            <tr>
              <td>Zone</td>
              <td>R3</td>
            </tr>
            <tr>
              <td>Area</td>
              <td>148.9 m<sup>2</sup></td>
            </tr>
            <tr>
              <td>Heritage Status</td>
              <td>Heritage Item</td>
            </tr>
            <tr>
              <td>Acid Sulfate Soil Class</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <div class="row">
      <div class="twelve columns">
        <h4><span class="indicator record-info"></span>Record Information</h4>
        <table>
          <thead>
            <th>Attribute</th>
            <th>Value</th>
          </thead>
          <tbody>
            <tr>
              <td>Council File: Date of Update</td>
              <td>20/8/2012</td>
            </tr>
            <tr>
              <td>LPI: Last Updated</td>
              <td>25/9/2006</td>
            </tr>
            <tr>
              <td>Council ID</td>
              <td>100017</td>
            </tr>
            <tr>
              <td>CADID</td>
              <td>100000017</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="six columns">
    <div class="row">
      <div class="twelve columns">
        <h4><span class="indicator production-info"></span>Production Information</h4>
        <table>
          <thead>
            <th>Attribute</th>
            <th>Value</th>
          </thead>
          <tbody>
            <tr>
              <td>Status Updated</td>
              <td>12/2/2013</td>
            </tr>
            <tr>
              <td>Valid In Production</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>Exempt Development Permitted</td>
              <td>No</td>
            </tr>
            <tr>
              <td>Complying Development Permitted</td>
              <td>No</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


