<div class="row">
  <h3 class="land-parcel"><img class="land-parcel-status" src="/noun_project_10284.svg"/> //SP22805</h3> 
  <p>This land-based information on this strata plan is consistent across all lots. Individual strata lots may contain errors that prevent investigations being performed against them.</p>
</div>
<div class="row">
  <div class="six columns">
    <h4>Lots in Strata Plan</h4>
    <ul>
      <li><%= link_to '1//SP22805', valid_sp_land_parcel_path(1) %></li>
      <li><%= link_to '2//SP22805', valid_sp_land_parcel_path(1) %></li>
    </ul>
  </div>
</div>