<%= div_for local_government_area, :class => "lga panel row", :data => {:name => local_government_area.name} do %>
  <div class="ten columns">
    <%= link_to local_government_area,
      local_government_area_path(local_government_area),
      :class => 'resource-title'
    %>
  </div>
  <div class="two columns">
    <ul class="button-group">
      <li><%= link_to 'Edit', edit_local_government_area_path(local_government_area), :class => 'button small' %></li>
    </ul>
  </div>
<% end %>
