<ul class="link-list">
  <li><%= link_to 'All local government areas', local_government_areas_path %></li>
  <li>
    <%= link_to 'Create new local government area',
                new_local_government_area_path %>
  </li>
</ul>
