<div class="row">
  <div class="six columns centered">
    <%= form_for @local_government_area do |f| %>
      <%= render f %>
      <hr>
      <%= f.submit 'Update LGA' %>
    <% end %>
  </div>
</div>
