<div class="row collapse">
  <h3>Find Land Parcel</h3>
  <%= render :partial => "shared/search" %>
</div>

<div class="row collapse">
  <h3>Councils</h3>
  <div class="twelve columns">
    <input id="lga_filter" type="text" class="inline" placeholder="Filter by Council name ..." />
  </div>
</div>

<div class="row">
  <div class="twelve columns" id="lga_list">
    <%= render @local_government_areas %>
  </div>
</div>
