<div class="row">
  <div class="three columns">
    <div class="row menu-type">
      <%= render 'local_government_areas/show/left' %>
    </div>
  </div>
  <div class="eight columns offset-by-one">
    <div class="row table-full-width">
      <%= render 'local_government_areas/show/right' %>
    </div>
  </div>
</div>

<% if @local_government_area.has_import? %>
  <div class="row">
    <div class="twelve columns">
      <div class="row">
        <h3>Latest successful import</h3>
        <%= render @local_government_area.local_government_area_record_import_logs.successful.first %>
        </div>
    </div>
  </div>
<% end %>
