<div class="row">
  <div class="nine columns">

    <%= render @local_government_area %>

    <hr>

    <h3>Upload new data file</h3>

    <%= form_tag(uploads_local_government_area_path(@local_government_area),
                  { :multipart => true }) do %>
      <input id="data_file" type="file" name="data_file">
      <button type="submit" class="button">Upload</button>
    <% end %>

  </div>
  <div class="three columns">
    <h3>Members</h3>
    <ul id="users">
      <%= render(
        :collection => @local_government_area.users,
        :partial => 'list_item'
      ) || content_tag('li', 'This LGA is not linked to any users') %>
    </ul>

    <h3>History</h3>
    <%= render(@local_government_area.versions) || 'No changes have been recorded for this local government area.' %>
  </div>
</div>
