<h3>Data Quality Targets</h3>
<table>
  <tbody>
    <tr>
      <td>In Council and LPI</td>
      <td><%= number_to_percentage targets.in_council_and_lpi_percentage, :precision => 1 %></td>
    </tr>
    <tr>
      <td>Only in Council</td>
      <td><%= number_to_percentage targets.only_in_council_percentage, :precision => 1 %></td>
    </tr>
    <tr>
      <td>Only in LPI</td>
      <td><%= number_to_percentage targets.only_in_lpi_percentage, :precision => 1 %></td>
    </tr>
  </tbody>
</table>
