<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hi <%= @user.name %>
    </p>
    <p>
      Unfortunately, your import has failed.
    </p>
    <p>
      Filename: <%= @importer.filename %>
    </p>
    <p>
      The file is empty. You should put some land parcels in it!
    </p>
    <p>
      Cheers,
      <br />
      The ePlanning Team
      <br />
      <%= @host_name %>
    </p>
  </body>
</html>
