<div class="row">
  <div class="six columns centered">
    <%= form_for @user do |f| %>
      <%# users/foundation_form %>
      <%= render f %>
      <hr>
      <%= f.submit 'Create User' %>
    <% end %>
  </div>
</div>
