<div class="row">
  <div class="nine columns">
    <%= render @user %>
  </div>
  <div class="three columns">
    <h3>LGA memberships</h3>
    <ul id="local_government_areas">
      <%= render(
        :collection => @user.local_government_areas,
        :partial => 'list_item'
      ) || content_tag('li', 'This user is not linked to any LGAs') %>
    </ul>
    <h3>History</h3>
    <%= render(@user.versions) || 'No changes have been recorded for this user.' %>
  </div>
</div>
