<%= form_tag(search_path, :method => :get) do %>
  <% unless local_assigns[:council].blank? %>
    <%= hidden_field_tag :council_id, council.to_param %>
  <% end %>
  <div class="ten mobile-three columns">
    <%= text_field_tag :filter %>
  </div>
  <div class="two mobile-one columns">
    <%= submit_tag("Search", :class => "button expand postfix") %>
  </div>
<% end %>
