<div class="row">
  <div class="columns six" id="detailed_reports">
    <% if @local_government_area.has_import? %>
      <h3>Detailed Reports</h3>
    <% else %>
      <h3>No Data Imported</h3>
    <% end %>
    <%=
      render({
        :collection => @local_government_area.last_successful_imports(5),
        :partial => 'local_government_area_record_import_logs/link'
      }) || 'No imports have been performed for this LGA'
    %>
  </div>
  <div class="columns six">
    <h3>Import Data File</h3>
    <p>
      Uploading a local government area record file assumes that the file name
      is correct and does not contain the characters "_LEP".
    </p>
    <p>
      If the file upload contains "_LEP" then it will be treated as a Standard Instrumentation Zone mapping upload.
    </p>
    <%= form_tag(uploads_local_government_area_path(@local_government_area), {
        :multipart => true
      }) do %>
      <input id="data_file" type="file" name="data_file">
      <button type="submit" class="secondary radius button">
        Upload data
      </button>
    <% end %>
  </div>
</div>
