<div class="row collapse">
  <h3>Find Land Parcel in Council</h3>
  <%= render :partial => "shared/search", :locals => {
    :council => @local_government_area
  } %>
</div>

<div class="row">
  <div class="columns twelve">
    <h3>Data Summary</h3>
    <% if @local_government_area.has_import? %>
      <div class="full-width">
      <%=
        render(
          :object =>  @local_government_area,
          :partial => 'stats_tables/data_summary'
        )
      %>
      </div>
    <% else %>
      No imports have been performed for this LGA.
    <% end %>
  </div>
</div>
