<%= render :partial => "shared/search", :locals => {
  :council => @local_government_area
} %>

<div class="row">
  <div class="columns twelve">
    <h3>Data Summary</h3>
    <% if @local_government_area.has_import? %>
      <div class="full-width">
      <%=
        render(
          :object =>  @local_government_area,
          :partial => 'stats_tables/data_summary'
        )
      %>
      </div>
    <% else %>
      No imports have been performed for this LGA.
    <% end %>
  </div>
</div>
