<div class="columns six">
  <div class="row">
    <div class="twelve columns">
      <h4>
        <span class="indicator land-attributes"></span>
        Land-Based Information
      </h4>
      <table>
        <thead>
          <th>Attribute</th>
          <th>Value</th>
        </thead>
        <tbody>
          <% information.each do |k, v| %>
          <tr>
            <% valid = inconsistent_attributes.include?(k.to_s) ? "inconsistent" : '' %>
            <%= content_tag :td, :class => valid do %>
            <%= k.to_s.gsub(/^(ex_|if_|lep_si_)/,'').split("_").
              collect(&:humanize).join(" ") %>
            <% end %>
            <td><%= v %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
