<div class="columns six">
  <div class="row">
    <div class="twelve columns">
      <h4>
        <span class="indicator land-attributes"></span>
        Land-Based Information
      </h4>
      <table>
        <thead>
          <th>Attribute</th>
          <th>Value</th>
        </thead>
        <tbody>
          <% information.each do |k, v| %>
          <tr>
            <td><%= k.to_s.split("_").collect(&:humanize).join(" ") %></td>
            <td><%= v %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
