<div class="row">
  <%= render :partial => 'attribute_error_information', :locals => {
    :information => record.attribute_error_information
  } %>
</div>

<div class="row">
  <%= render :partial => 'address', :locals => {
    :information => record.address_information
  } %>
  <%= render :partial => 'land_information', :locals => {
    :information => record.land_information
  } %>
</div>

<div class="row">
  <%= render :partial => 'record_information', :locals => {
    :information => record.record_information
  } %>
</div>
