<div class="six columns">
  <div class="row">
    <div class="twelve columns">
      <h4>
        <span class="indicator production-info"></span>
        Production Information
      </h4>
      <table>
        <thead>
          <th>Attribute</th>
          <th>Value</th>
        </thead>
        <tbody>
          <tr>
            <td>Status Updated</td>
            <td><%= record.date_of_update %></td>
          </tr>
          <tr>
            <td>Valid In Production</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Exempt Development Permitted</td>
            <td>No</td>
          </tr>
          <tr>
            <td>Complying Development Permitted</td>
            <td>No</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
