$mainColor: #08c;
$columnGutter: 60px;
$navBackground: #4d4d4d;

@import "foundation";

.top-bar {
  background: $navBackground;
}

.nav-bar {
  margin-top: 0;
  margin-bottom: 0;

  background: $navBackground;
  border-color: lighten($navBackground, 20%);

  a, a:visited  { color: $mainColor; }
  a:hover       { color: lighten($mainColor, 10%); }
}

#header {
  background-color: #ddd;
  padding: 0 ms(0);
}

#footer {
  color: lighten($black, 50%);
}

#site-name {
  font-weight:  bold;
  font-size: ms(3);
  line-height: $navBarHeight;
}

#main {
  margin: ms(0);
}

.resource-title {
  font-size: ms(1);
}
