$columnGutter: 60px;

@import "foundation";

.top-bar {
  background: black;
  color: white;
}

.nav-bar {
  margin-top: 0;
  margin-bottom: 0;
}

#header {
  background-color: #ddd;
  padding: 0 ms(0);
}

#site-name {
  font-weight:  bold;
  font-size: ms(3);
}

#main {
  margin: ms(0);
}

.resource-title {
  font-size: ms(2);
}
