<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hi <%= @user.name %>
    </p>
    <p>
      Unfortunately, your import has failed.
    </p>
    <p>
      Filename: <%= @filename %>
    </p>
    <p>
      The file could not be successfully read. 
      Some common errors:
      <ul>
        <li>Have you forgotten to add a header row?</li>
        <li>Have you used | as the delimiter? </li>
        <li>A trailing | at the end of a row is invalid.</li>
      </ul>
    </p>
    <p>
      Cheers,
      <br />
      The ePlanning Team
      <br />
      <%= @host_name %>
    </p>
  </body>
</html>
