<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Number of Records</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>DP Records</td>
      <td><%= council_file_statistics.dp_records %></td>
    </tr>
    <tr>
      <td>SP Records</td>
      <td><%= council_file_statistics.sp_records %></td>
    </tr>
    <tr>
      <td><strong>Total</strong></td>
      <td><strong><%= council_file_statistics.total %></strong></td>
    </tr>
  </tbody>
</table>
