<div class="row">
  <div class="six columns centered">
    <p>
      Enter your email address in the form below and you will be sent
      instructions on how to reset your password.
    </p>
    <%= form_tag reset_passwords_path, :method => :post do %>
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
      <%= submit_tag 'Send password reset instructions' %>
    <% end %>
  </div>
</div>
